@model GroceryList.Models.Item

@{
    ViewData["Title"] = "newItem";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<style>
    .form-container {
        margin: 0 auto;
        max-width: 400px;
    }
</style>

<script src="~/sweetalert/sweetalert2.all.min.js"></script>
<a href="/it/login" class="exit-logo">&#10006;</a>
<div class="container p-5 sa" style="background-color:#F2F2F2; color: black; text-align: center;">
    <h1>Grocery List</h1>
</div>

<div class="form-container">
    <form class="from-group" method="post" action="/it/newitems" onsubmit="return validateForm()">
        <b>Name</b>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "Name" })
        <br />
        <b>Type</b>
        @Html.TextBoxFor(x => x.Type, new { @class = "form-control", id = "Type" })
        <br />
        <b>Amount</b>
        @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", id = "Amount", type = "number" })
        <br />
        <b>Price</b>
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", id = "Price", type = "number" })
        <br />
        <b>Shop Name</b>
        @Html.TextBoxFor(x => x.ShopName, new { @class = "form-control", id = "ShopName" })
        <br />

        @{
            var userId = (int?)ViewContext.HttpContext.Session.GetInt32("UserId");
        }

   
        @Html.HiddenFor(x => x.UserId, new { value = userId })

        @if (userId != null)
        {
            <h2>Hoşgeldiniz, User ID @userId</h2>
        }

        <button class="btn btn-primary">Add <i class="fa-solid fa-plus"></i></button>
    </form>
</div>


<script>
    function validateForm() {
        var name = document.getElementById("Name").value;
        var type = document.getElementById("Type").value;
        var amount = parseFloat(document.getElementById("Amount").value);
        var price = parseFloat(document.getElementById("Price").value);
        var shopName = document.getElementById("ShopName").value;

        if (!name || !type || isNaN(amount) || isNaN(price) || !shopName) {
            Swal.fire('Please fill in all fields!')
            return false;
        }

        return true;
    }
</script>
